{% extends 'navigation.html' %}
{% load static %}
{% block content %}
    <div class="panel panel-info container">
        <!-- Default panel contents -->
        <div class="panel-heading">小说列表</div>
        <div class="panel-footer">
            <div class="row clearfix">
                <div class="col-xs-4" style="margin-top: 10px">
                    <div class="col-xs-6" style="text-align:center;">
                        <a href="/novel/douluo/" style="text-decoration: none">
                            <img src="{% static 'img/douluocover.png' %}" alt="" style="width: 100px;height: 160px">
                            <div>
                                <span>斗罗大陆</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <span>斗罗大陆简介</span>
                        <hr style="border-color: #b9def0;"/>
                        <span style="font-size: 1px">唐门外门弟子唐三，因偷学内门绝学为唐门所不容，跳崖明志时却发现没有死，反而以另外一个身份来到了另一个世界，一个属于武魂的世界，名叫斗罗大陆.....</span>
                    </div>
                </div>
                <div class="col-xs-4" style="margin-top: 10px">
                    <div class="col-xs-6" style="text-align:center;">
                        <a href="/novel/tsxk/" style="text-decoration: none">
                            <img src="{% static 'img/tsxk.png' %}" alt="" style="width: 100px;height: 160px">
                            <div>
                                <span>吞噬星空</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <span>吞噬星空简介</span>
                        <hr style="border-color: #b9def0;"/>
                        <span style="font-size: 1px">继《九鼎记》《盘龙》《星辰变》《寸芒》《星峰传说》后，番茄的第六本书—— 正式上传！.....</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
